@import url(https://fonts.googleapis.com/css?family=Megrim);

@import url(https://fonts.googleapis.com/css?family=Nixie+One);

* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: Helvetica;
	color: #303030;
	line-height: 2em;
}

p {
	font-family: 'Nixie One';
}

section#splash {
	background: url(../images/IMG_5030.jpg);
	background-size: cover;
	text-align: center;
	height: 100%;
	padding: 5em;
}
section#splash div {
	background-color: #919191;
	width: 350px;
	padding: 2em;
}
section#splash img {
	width:100%;
}
h1 {
	font-family: 'megrim';
	color: rgba(0,0,0,.5);
}
hr {
	margin:1em auto;
}
a {
	color: inherit;
	text-decoration: none;
}
