* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

body {
	font-family: "Gills-Sans", sans-serif;
	font-weight: lighter;
	color: #BFBFBF;
}

h1 {
	text-align: left;
	letter-spacing: 6px;
	text-transform: uppercase;
	font-weight: lighter;
}

a {
	text-decoration: none;
	color: #E5E5E5;
}

header {
	background: url(../images/Wood_Logo.jpg);
	background-size: cover;
	height: 95vh;
	text-align: center;
}

main {
	position: relative;
	/* padding-top: 752px; */
}

footer {
	background-color: #000000;
	text-align: center;
	padding: 100px;
	text-transform: uppercase;
	letter-spacing: 5px;
}



#Editorial {
	background-color: #F0F0F0;
	color: #000000;
}

.NavLinks {
	font-size: 11px;
	font-weight: lighter;
	text-transform: uppercase;
	font-family: 'Gills-Sans', sans-serif;
	letter-spacing: 5px;
	text-align: center;
	margin:auto;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	padding-top: 32px;
	padding-bottom: 32px;
	background: #400213;
	position: fixed;
}
.NavLinks a {
	padding:1em;
	margin:0 1em;
}
#logo {
	width: 380px;
	margin: 130px 0 0;
}


#About {
	background: url(../images/IMG_4007.jpg);
	background-size: cover;
	height: 780px;
	padding: 200px 700px 0 100px;
	color: #000000;
	line-height: 2em;

}

.sectionlabels {
	background: url(http://wallpapercave.com/wp/E7VdJQX.jpg);
	background-size: cover;
	text-align: center;
	font-weight: lighter;
	padding: 50px;
	color: #BFBFBF;
	letter-spacing: 7px;
}
#SallyGrid {
	background-color: #330000;
}

img { width:100%;}
.BattleGrid {
	background-color: #000000;
}

.BattleGrid img {
	width: 33.33%;
	float: left;
	padding: 1em;
}
.BattleGrid .Jian1 {
    width: 14.285%;
    padding: 0;
}
.InfoTitle {
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 4px;
	padding-bottom: 30px;
	color: #7F7F7F;
}

.Info {
	padding-left: 150px;
	padding-right: 150px;
	line-height: 2em;
	padding-bottom: 150px;
	color: #7F7F7F;
}

#DerekGrid {
	background: url(../images/IMG_0727.jpg);
	background-size: cover;
}

#DerekInfo {
	padding: 150px 150px 500px 500px;
	font: "Gills-Sans", sans-serif;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 6px;
	font-size: 30px;
	color: #7F7F7F;
}

#EditInfo {
	padding: 150px;
	line-height: 2em;
	color: #7F7F7F;
}

#Portraiture {
	background: #BDBDBD;
}
