* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: Helvetica;
	color: #303030;
}

section#splash {
	background: url(../images/IMG_5030.jpg);
	background-size: cover;
	text-align: center;
	height: 100vh;
	padding: 5em;
}
section#splash div {
	background-color: #919191;
	width: 350px;
	padding: 2em;
}
section#splash img {
	width:100%;
}
h1 {
	font-style: italic;
	color: rgba(0,0,0,.5);
}
hr {
	margin:1em auto;
}
