h2 {
	font-style: italic;
	color: rgba(0,0,0,.5);
}

body {
	font-family: Helvetica;
	color: #303030;
	text-align: center;
	background: url(http://i.imgur.com/GYOrb7n.jpg);
	background-size: cover;
}

div {
	background-color: #919191;
	width: 350px;
	height: 100%;
	padding:25px;
	margin: 75px;
}
